@page
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Color != null)
{
    <div class="text-center">
        <h1 class="display-4">Choose what color is similar</h1>
    </div>
    <form asp-page="/Index">
        <div class="row mb-2">
            <div class="col-sm" style="background-color: rgba(@Model.Color.R, @Model.Color.G, @Model.Color.B, @Model.Color.Alpha.ToString("0.00", CultureInfo.InvariantCulture))">
                <BR/>
                <BR/>
                <BR/>
            </div>
            <div class="col-sm">

                <input type="hidden" asp-for="UserColorForm.Color" value="@Model.Color.Key"/>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="UserColorForm.UserColor" value="red">
                    <label class="form-check-label" style="color: red;" input-value="red" name="label_color">
                        Red
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="UserColorForm.UserColor" value="green">
                    <label class="form-check-label" style="color: green;" input-value="green" name="label_color">
                        Green
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="UserColorForm.UserColor" value="blue">
                    <label class="form-check-label" style="color: blue;" input-value="blue" name="label_color">
                        Blue
                    </label>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </form>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Generate colors</h1>
    </div>
}
@section Scripts
{
    <script>
        $("[name='label_color'").click(function() {
            $("#UserColorForm_UserColor[value='"+$(this).attr('input-value')+"']").prop("checked",true);
        });
    </script>
}
